<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>SignFilter</filter-name>
        <filter-class>com.gecp.servlets.SignFilter</filter-class>
    </filter>
    <filter>
        <filter-name>DigitFilter</filter-name>
        <filter-class>com.gecp.servlets.DigitFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SignFilter</filter-name>
        <url-pattern>/addServlet</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>DigitFilter</filter-name>
        <url-pattern>/addServlet</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AddServlet</servlet-name>
        <servlet-class>com.gecp.servlets.AddServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginPage</servlet-name>
        <servlet-class>com.gecp.servlets.LoginPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add1Servlet</servlet-name>
        <servlet-class>com.gecp.servlets.Add1Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubServlet</servlet-name>
        <servlet-class>com.gecp.servlets.SubServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfessionalServlet</servlet-name>
        <servlet-class>com.gecp.servlets.ProfessionalServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddServlet</servlet-name>
        <url-pattern>/addServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginPage</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add1Servlet</servlet-name>
        <url-pattern>/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubServlet</servlet-name>
        <url-pattern>/sub</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfessionalServlet</servlet-name>
        <url-pattern>/professional</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
